*{
  margin:0;
  padding: 0;
}

html{
  font-size: 80%;

}
body{
  font-family: 'Noticia Text', serif;
  font-size: 1rem;
  
}

/*barra de navegacion*/
.menu{
  list-style: none;  
  background-color: #f5dfeb;
  text-align: center;
  word-spacing: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  grid-area: menu;
}

.lista li a{
  font-size: 2rem;
  line-height: 4rem;
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px;
  
}

.lista li{
  display: inline-block;
  
}

.lista li a:hover{
  background: #b5b5b5;
}
header nav ul li ul{
  
  flex-direction: column;
  position: absolute;
  background-color:#f5dfeb ;
  display: none;
}
header nav ul li ul li{
  width: 150px;
  height: 70px;
  word-spacing: 5px;
  position:relative ;
  line-height: 5px;
}
header nav ul li:hover >ul{

  display: flex;
  flex-direction: column;
}

/*Titulo de la pagina de inicio*/
.titulo{
  text-align: center;
  padding: 500px;
  padding-top: 10px;
  background-image: url("im/caja.jpg");
}

.titulo h1{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  grid-area: titulo;
  justify-content: center;
  animation-name: aparecer;
  animation-duration: 3s;
  margin-top: 400px;

}
@keyframes aparecer{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*subtitulo de la pagina de inicio*/
a.opcionesv{
  text-align: centre;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  color: black;

}

a.opcionesv:hover{
  transform: scale(1.2);
}

/*titulos de las otras paginas*/
.otrotitulo{
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  padding-top: 100px;

  padding-bottom: 10px;
  font-size: 40px;
}
/*pie de pagina*/
.footer{
  background-color: #f5dfeb;
  text-align: center;
  font-size: 2rem;
  color: white;
  line-height: 40px;
  position: sticky;
  margin-bottom: 0px;
  margin-top: 100%;
  word-spacing: 2px;
  grid-area: footer;
}

.footer a{
  background-color: #f5dfeb;
  text-align: center;
  font-size: 2rem;
  color: white; 
  line-height: 20px;
  text-decoration: none;
}

/*opciones de cajas*/
.boxes{
  font-size: 2rem;
  font-style: bold;
  padding-top: 40px;
  margin-top: 30px;
  grid-area: boxes;
  text-align: center;
  align-items: center;
}

/*descripcion de las cajas*/
.cajas{
  font-size: 2rem;
  padding-right: 180px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 10px;
  grid-area: cajas;
  margin-bottom: 5px;
}

/*imagen de las cajas*/
.imagen{
  height: 200px;
  grid-area: imagen;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  background-color: pink;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*grid area cajas*/
.gridArea{
  display: grid;
  grid-template-areas: 
  "imagen boxes boxes"
  "imagen  cajas cajas";
  background-color: #b5b5b5;
  padding: 20px;
  margin: 80px;
}

.gridcajas{
  grid-area: gridcajas;
}

.gridcajas2{
  grid-area: gridcajas2;
}

/*parrafo en pagina nosotras*/
.parrafonosotras{
  font-size: 2rem;
  padding-bottom: 50px;
  padding-top: 10px;
  padding-right: 300px;
  padding-left: 300px;
}

/*fondo de la pagina nosotras*/
.fondo{
  background-image: url("im/corazon.jpg");
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: center;
  grid-area: sobrenosotras;
  
}

.imagenCajas{
  justify-content: center;
}

/*formulario en pagina contacto*/
.formulario{
  font-size: 20px;
  background-color: #f5dfeb;
  text-align: left;
  line-height: 30px;
  word-spacing: 40px;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: solid 2px #b5b5b5;
  align-items: center;
  margin-left: 500px;
  margin-right: 500px;
  align-content: left;
  align-items: left;#b5b5b5
}

.flex{
 grid-area: contacto;
}

.formulario label{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  
  flex-direction: column;
  
}
.input{
  width: 90%;
  padding: 15px;
  background-color:#f5dfeb ;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid, 1px, red ;

  
}
.input:focus{
  outline: none;
  background: linear-gradient(to bottom, #f5dfeb, white);
  border-bottom: white;
}

.enviar{
  width: 40%;
  padding: 15px;
  background-color:#b5b5b5 ;
  border:none;
  color: white;

}

.enviar:hover{
  background: pink;
}

.button{
  width: 200px;
  height: 40px;
  color: white;
  font-size: 15px;
  font-family: 'Noticia Text', serif;
  border:solid 1px grey;
  background-color: pink;
  margin-top: 10px;
}


p input:hover{
  background: #b5b5b5;
}


/*lista opciones en pagina opciones*/

.listaopciones li a{
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  list-style-type: none;
  padding-bottom: 10px;

}

.listaopciones{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.section_opciones--cajas{
 grid-area: opciones;
}

/*lo nuevo*/
.opciones_cuadros {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-top: 50px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.3s;
  margin-top: 30px;
  position: sticky;
}

.section_opciones .opciones_cuadros{
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.section_opciones .opciones_cuadros:hover{
  background: #f5dfeb ;
}

.opciones_cuadros a{
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: black;
  transition: none;
  font-size: 12px;
  font-weight: 400;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid black;
  text-decoration: none;
}

.opciones_cuadros a:hover{
 background: #f5dfeb;
 color: #b5b5b5;
}

.opciones_cuadros img{
  width: 20rem;
}


.section_opciones h2{
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 30px;
  align-content: center;
  margin-left: 280px;

}

.section_opciones{
 margin-left: 350px;
 justify-content: center;
 grid-area: lonuevo;
}

.opciones_cuadros .titulos_opciones{
  font-size: 20px;
}

/*carrousel*/


.carrousel{
 grid-area: carrousel1; grid-area: carrousel1;
}

.carrousel2{
  grid-area: carrousel2;
}
/*preguntas frecuentes*/
.ul_lista {
  margin-left: 300px;
  margin-right: 300px; }

.lista_preguntas {
    font-size: 23.75px;
    padding-bottom: 15px; }

.lista_parrafo {
      font-size: 18.75px; }

      /*servicios*/

.servicio_fondo{
 padding-bottom: 400px;
 padding-top: 50px;
 grid-area: servicio;

 }

.preguntas{
 grid-area: preguntas;
  }
      /*sobre cocobox*/
.sobrecocobox{
  grid-area: sobrecoco;
  
  }

      /*responsive pagina inicio*/
 .grilla{
   display: grid;
   grid-template-areas:
   "menu"
   "titulo"
   "servicio"
   "carrousel1"
   "footer";
   background-image: url("im/caja.jpg");
   background-repeat: no-repeat;
   background-size: cover;
 }

 @media screen and (min-width: 760px){
  .grilla{
  display: grid;
  grid-template-areas:
  "menu menu menu"
  "titulo titulo titulo"
  "servicio servicio servicio"
  "carrousel1 carrousel1 carrousel1"
  "footer footer footer"
   }
  }

 @media screen and (min-width: 1020px){
  .grilla{
   display: grid;
   grid-template-areas:
  "menu menu menu menu"
  "titulo titulo titulo titulo"
  "servicio servicio servicio servicio"
  "carrousel1 carrousel1 carrousel1 carrousel1"
  "footer footer footer footer"
    }
 }

  /*responsive pagina opciones*/

 .grilla2{
 display: grid;
 grid-template-areas:
 "menu"
 "opciones"
 "lonuevo"
 "footer";

      }

   @media screen and (min-width: 760px){
  .grilla2{
  display: grid;
  grid-template-areas:
  "menu menu menu"
  "opciones opciones opciones"
  "lonuevo lonuevo lonuevo"
  "footer footer footer"
        }
      }

      @media screen and (min-width: 1020px){
        .grilla2{
          display: grid;
          grid-template-areas:
          "menu menu menu menu"
          "opciones opciones opciones opciones"
          "lonuevo lonuevo lonuevo lonuevo"
          "footer footer footer footer"
        }
      }

      /*responsive pagina cajas*/

      .gridcajas{
        display: grid;
        grid-template-areas:
        "menu"
        "gridcajas2"
        "footer";

      }

      @media screen and (min-width: 760px){
        .gridcajas{
          display: grid;
          grid-template-areas:
          "menu menu menu"
          "gridcajas2 gridcajas2 gridcajas2"
          "footer footer footer"
        }
      }

      @media screen and (min-width: 1020px){
        .gridcajas{
          display: grid;
          grid-template-areas:
          "menu menu menu menu"
          "opciones opciones opciones opciones"
          "gridcajas2 gridcajas2 gridcajas2 gridcajas2"
          "lonuevo lonuevo lonuevo lonuevo"
          "footer footer footer footer"
        }
      }

      /*responsive pagina nosotras*/


      .gridnosotras{
        display: grid;
        grid-template-areas:
        "menu"
        "sobrenosotras"
        "sobrecoco"
        "carrousel2"
        "footer"

      }

      @media screen and (min-width: 760px){
        .gridnosotras{
          display: grid;
          grid-template-areas:
          "menu menu menu"
          "sobrenosotras sobrenosotras sobrenosotras"
          "sobrecoco sobrecoco sobrecoco"
          "carrousel2 carrousel2 carrousel2"
          "footer footer footer"
        }
      }

      @media screen and (min-width: 1020px){
        .gridnosotras{
          display: grid;
          grid-template-areas:
          "menu menu menu menu"
          "sobrenosotras sobrenosotras sobrenosotras sobrenosotras"
          "sobrecoco sobrecoco sobrecoco sobrecoco"
          "carrousel2 carrousel2 carrousel2 carrousel2"
          "footer footer footer footer"
        }
      }

/*media para contacto*/
  .contacto1{
  display: grid;
  grid-template-areas:
  "menu"
  "contacto"
  "preguntas"
  "footer"
}

@media screen and (min-width: 760px){
  .contacto1{
    display: grid;
    grid-template-areas:
    "menu menu menu"
    "contacto contacto contacto"
    "preguntas preguntas preguntas"
    "footer footer footer"
  }
 }

  @media screen and (min-width: 1020px){
    .contacto1{
      display: grid;
      grid-template-areas:
      "menu menu menu menu"
      "contacto contacto contacto contacto"
      "preguntas preguntas preguntas preguntas"
      "footer footer footer footer"
    }
    }